<status [result]="result" (updatedResult)="updateResult($event)"></status>
<div class="input-group search">
    <input type="text" class="form-control" placeholder="Search for..." aria-label="Search for..." [(ngModel)]="searchText" [ngModelOptions]="{standalone: true}">
    <span class="input-group-btn">
      <button class="btn btn-secondary" type="button">Go!</button>
    </span>
    <span class="input-group-btn">
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal">Add</button>
      </span>
  </div>
<table class="table records">
    <thead>
        <tr>
            <th>S/N</th>
            <th>Question</th>
            <th>Image</th>
            <th>Category</th>
            <th>Choices</th>
            <td>Action</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of questionWrappers | search: [searchText]; let i = index ">
            <td>{{i+1}}</td>
            <td>{{item.Text}}</td>
            <td >{{item.ImageUrl}}</td>
            <td>{{item.CategoryName}}</td>
            <td>
                <span class="badge" *ngFor="let choice of item.choice" [class.green]="choice.ChoiceId == item.correctChoice.ChoiceId">{{choice.Text}}</span>
            </td>
            <td>
                <button type="button" id="delete" class="btn btn-default btn-sm" (click)="deleteQuestion(item.QuestionId)">
                    <span class="glyphicon glyphicon-ban-circle"></span> Delete
                </button>
            </td>
        </tr>
    </tbody>
</table>
<!-- Button trigger modal -->

  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add Question</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <add-question (addedQuestion)="addedQuestion($event)"></add-question>
        </div>
      </div>
    </div>
  </div>