.alert{
    position: absolute;
    z-index: 10;
    width: 300px;
    right: -300px;
    margin-right: 5px;
    -webkit-animation-name: slide;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
    animation-name: slide;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    margin-top: 20px;
}

@-webkit-keyframes slide {
    100% { right: 10px; }
}

@keyframes slide {
    100% { right: 10px; }
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}